<% include partials/header %>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io.connect();
        socket.on('update', function(){
            //means all properties updated, we should get the new data for our resource table
            //if modal is open, update that info too???
            $.get("/ajax/resources-table", function(data) {
                    $("#resources-table").replaceWith(data); //TODO: would be super cool to have the numbers animate here (count up incrementally or something)
                });
            $.get("/ajax/properties-table", function(data) {
                    $("#properties-table").replaceWith(data);
                });
        });
    </script>

    <h1>Dashboard</h1>
    <p>Cash: $<span id="cash"><%=currentUser.funds%></span></p>
    
    <div class="row">
        <h3>Resources</h3>
    </div>
    
    <div class="row">
        <div class="col-md-4">
            <!--for each type of resource owned-->
            <!--show amount we own, which we need to find by going through all our properties and adding up their stock, and saving it according to resource-->
            <table class="table table-hover table-bordered" id="resources-table">
                <tr>
                    <th>Resource</th>
                    <th>Quantity</th>
                    <th>Rate (/sec)</th>
                </tr>
                
                    <% for (var resource in resource_list){%>
                        <tr>
                            <td><%= resource %></td>
                            <td><%= resource_list[resource].quantity %></td>
                            <td><%= resource_list[resource].rate %></td>
                        </tr>
                    <% }; %>
            </table>
        </div>
    </div>
        
    <div class="row">
        <h3>
            <span>Properties</span>
            <button type="button" class="btn btn-primary buy-property" data-toggle="modal" data-target="#exampleModal">+</button>
        </h3>
    </div>
    
    <!--PROPERTIES TABLE-->
    <table class="table table-hover table-bordered" id="properties-table">
        <tr>
            <th>Name</th>
            <th>Resource</th>
            <th>Running Cost</th>
            <th>Production Rate</th>
            <th>Inventory</th>
            <th>Details</th>
        </tr>
        <% for(var i=0; i<currentUser.properties.length; i++) {%>
            <tr>
                <td><%= currentUser.properties[i].name %></td>
                <td><%= currentUser.properties[i].resource_type %></td>
                <td><%= currentUser.properties[i].run_cost %></td>
                <td><%= currentUser.properties[i].production_rate %></td>
                <td><%= currentUser.properties[i].inventory_count %>/<%= currentUser.properties[i].storage_capacity %></td>
                <td><button type="button" class="btn btn-primary property-button" data-toggle="modal" data-target="#exampleModal" data-whatever=<%= currentUser.properties[i]._id %>>Manage</button></td>
            </tr>
        <% } %>
    </table>
    
    <!--MODAL-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <!--header-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">New message</h4>
            </div>
            <!--body-->
            <div class="modal-body"></div>
            <!--footer-->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
      </div>
    </div>
    
    <!--add so that when you exit from modal it updates table info-->
    <!--or properties tab also updates every 5 sec-->
    
    <script type="text/javascript">
        //$('.property-button').on('click', function(event) {
        $('#exampleModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var modal = $(this)
            
            if (button.hasClass('property-button')) {
                var id = button.data('whatever') // Extract info from data-* attributes
                // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
                // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
                
                modal.find('.modal-title').text('Manage Property')
                
                //get updated info on this property
                $.get("/ajax/" + id, function(data){
                    modal.find('.modal-body').html(data)
                })
                // modal.find('.modal-body').load("/ajax/" + id);
                
            } else if (button.hasClass('buy-property')) {
                //fill modal with properties to buy
                modal.find('.modal-title').text('Buy Menu');
                modal.find('.modal-body').load("/buy");
            }
        });
    </script>
    
<% include partials/footer %>